<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl.Http.Signed" version="0.7.0" targetFramework="net45" />
  <package id="Flurl.Signed" version="1.0.10" targetFramework="net45" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net4" />
  <package id="Marvin.JsonPatch.Signed" version="0.7.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="SimpleRESTServices" version="1.3.0.1-json6" targetFramework="net4" />
</packages>