#Build Output
/artifacts

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Bb]in
[Oo]bj
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.DotSettings

# Roslyn IntelliSense Cache
*.sln.ide/

# Visual Studio Profiling Output
*.psess
*.vsp
*.vspx
*.krn.ctl
*.app.ctl

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Subversion files
.svn/

# Office Temp Files
~$*

#Git
*.orig

#SQL Source Control
CommandLineHooks.xml

#MSTest Test Results
TestResults

# Sandcastle Per-User File
.shfb/
*.shfbproj_*

# Sandcastle Output
docs/Api/
docs/html/
/src/Documentation/Help/

#NuGet
*.nupkg
/src/packages/
