<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl.Http.Signed" version="0.6.2.2015062601" targetFramework="net452" />
  <package id="Flurl.Signed" version="1.0.8" targetFramework="net452" />
  <package id="Marvin.JsonPatch.Signed" version="0.7.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="openstack.net" version="1.5.0.2" targetFramework="net452" />
</packages>