<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestIdentityUserName" value="cloud2"/>
    <add key="TestIdentityAPIKey" value=""/>
    <add key="TestIdentityPassword" value="Hybr1d99"/>
    <add key="TestIdentityGeo" value="DFW"/>
  </appSettings>
</configuration>