<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.diagnostics>
    <switches>
      <!-- Uncomment the line below to have all HTTP requests printed in the test output instead of just failed requests -->
      <!--<add name="Flurl.Http" value="Information"/>-->
    </switches>
  </system.diagnostics>
</configuration>