<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net35" />
  <package id="Rackspace.HttpClient35" version="1.0.0-beta002" targetFramework="net35" />
  <package id="Rackspace.Threading" version="1.1.0-beta001" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
</packages>